.header {
  grid-area: header;
  background: #1A1A1A;

  &__wrap {
    max-width: 1280px;
    margin: 0 auto;

    & img {
      padding: 5px;
      max-height: 50px;
      max-width: 50px;
    }
  }

}