.item {
  border-radius: 5px;
  color: aqua;
  padding: 10px;

  &:hover {
    background: #3F8CFF;
  }

  & a {
    color: antiquewhite;
    text-decoration: none;

    &.active {
      color: #3F8CFF;
    }
  }
}
