.footer {

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  height: 50px;
  text-justify: auto;
  background: #1A1A1A;
  text-align: right;
  font-size: 12px;
  line-height: 50px;


  &__wrap {
    max-width: 1280px;
    margin: 0 auto;
  }
}



